<div class="jumbtron">
  <h1 class="display-1 text-center text-info">CRUD</h1>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <app-employee></app-employee>
    </div>
    <div class="col-md-7">
      <app-employee-list></app-employee-list>
    </div>
  </div>
</div>
<!-- Footer -->
<footer class="page-footer font-small blue">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="http://kundandewangan.weebly.com/" target="_blank"> kundandewangan.weebly.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->